@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400;500;600;700&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hind Siliguri", "Satisfy", "Bebas Neue", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  @apply flex justify-between items-center px-6 border border-b-[#E5E7EB] bg-white py-5;
}

.nav-links {
  @apply flex gap-x-4;
}

.nav-link {
  @apply flex items-center gap-x-[0.1rem] cursor-pointer;
}

main {
  @apply flex-grow overflow-auto;
}

header {
  @apply flex flex-col items-center pt-10 h-[60vh];
}

.hero-img {
  @apply relative flex justify-center items-center rounded-full;
}

.hero-img > img {
  @apply object-cover rounded-full;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
