@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400;500;600;700&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hind Siliguri", "Satisfy", "Bebas Neue", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  @apply max-w-[70%] w-full mx-auto;
}

nav {
  @apply border border-b-[#E5E7EB] bg-white;
}

.nav {
  @apply flex justify-between items-center py-5;
}

.nav-links {
  @apply flex gap-x-4;
}

.nav-link {
  @apply flex items-center gap-x-[0.1rem] cursor-pointer;
}

main {
  @apply flex-grow overflow-auto w-full;
}

header {
  @apply flex flex-col justify-center pt-10 h-[90vh];
}

.hero-img {
  @apply relative w-full flex items-end after:absolute after:h-full after:w-full after:border-[0.5px] after:border-[#192d49]  after:-bottom-5 after:-right-5 after:rounded-md;
}

.hero-img > img {
  @apply object-cover object-right-bottom rounded-md z-10;
}

.sub-project {
  @apply h-[55vh] w-[60%] relative;
}

button {
  @apply bg-pj-bg2 outline-none border-none text-white self-start px-8 py-3 mt-6 rounded-md text-lg hover:bg-[#0e1a2b] transition-all duration-300;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
